.container {
  width: 100%


  padding: 1rem;
  animation: scale-in 0.5s ease-in-out;
}

.card {
  background: var(--card-glass);
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--scanner-dark);
  margin-bottom: 0.5rem;
}

.resultBox {
  background-color: rgba(var(--scanner-dark), 0.05);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  word-break: break-all;
}

.resultText {
  color: var(--scanner-dark);
}

.entryResult {
  overflow-y: scroll;
}
.buttonGroup {
  display: flex;
  gap: 1rem;
}

.buttonSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.buttonSecondary:hover {
  background-color: var(--btn-secondary-hover-bg);
}

.buttonPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.buttonPrimary:hover {
  background-color: var(--btn-primary-hover-bg);
}

@keyframes scale-in {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.allResults {
  padding: 2vh;
}

.container {
  width: 100%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  animation: scale-in 0.5s ease-in-out;
  background: var(--secondary-bg);
}

.card {
  background: var(--card-glass);
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--scanner-dark);
  margin-bottom: 0.5rem;
}

.resultBox {
  background-color: rgba(var(--scanner-dark), 0.05);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  word-break: break-all;
}

.resultText {
  color: var(--scanner-dark);
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.buttonSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.buttonSecondary:hover {
  background-color: var(--btn-secondary-hover-bg);
}

.buttonPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.buttonPrimary:hover {
  background-color: var(--btn-primary-hover-bg);
}

@keyframes scale-in {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.allResults {
  padding: 2vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 90%;
  background: var(--primary-bg);
}

.allResults li {
  list-style: none;
  background: var(--secondary-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 2vh;
}
.allResults strong {
  list-style: none;
  padding: 0.5vh;
  background: gray;
  width: 15vh;
  padding-left: 2vh;
}

.addTradeDetails {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.name,
.mobile,
.unit {
  display: flex;
  gap: 1vh;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
}

.addTradeDetails label {
  width: 20%;
}
.addTradeDetails input {
  height: 100%;
}
