
.container {
  position: relative;
  width: 100%;
  animation: fade-in 0.5s ease-in-out;
  height: 60vh;
  margin-top: 5vh;
}

.videoWrapper {
  position: absolute;
  inset: 0;
  height: 45%;
  overflow: hidden;
  border-radius: 1vh;
  border: 1px solid;
  border: none;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scannerCorner {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.topLeft {
  top: 0vh;
  left: 0vh;
  height: 5vh;
  width: 5vh;
  border-left: 4px solid white;
  border-top: 4px solid white;
  border-top-left-radius: 0.5rem;
  border-bottom: none;
  border-right: none;
}

.topRight {
  top: 0vh;
  right: 0vh;
  height: 5vh;
  width: 5vh;
  border-right: 4px solid white;
  border-top: 4px solid white;
  border-top-right-radius: 0.5rem;
  border-bottom: none;
  border-left: none;
}

.bottomLeft {
  bottom: 0vh;
  left: 0vh;
  height: 5vh;
  width: 5vh;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 0.5rem;
}

.bottomRight {
  bottom: 0vh;
  right: 0vh;
  height: 5vh;
  width: 5vh;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 0.5rem;
}

.scanLine {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: red;
  animation: scan-line 2s infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scan-line {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.noBarcodeMessage h2 {
  font-size: 3vh;
}
.noBarcodeMessage {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.restartButton {
  position: absolute; /* Position the button absolutely */
  bottom: 20px; /* Place it 20px from the bottom */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  background-color: var(--secondary-bg);
  padding: 1vh 2vh;
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3vh;
  z-index: 10; /* Ensure it's above other elements */
  height: 7vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
}

.restartButton:hover {
  background-color: white; /* Darker blue on hover */
  color: var(--secondary-bg);
}

.timerDisplay {
  font-size: 4vh;
  bottom: 20%;
  position: absolute;
  left: 70%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  border-radius: 10vh;
  height: 10vh;
  width: 10vh;
}
