.container {
  min-height: 100vh;
  background: var(--primary-bg);
}

.header {
  padding: 2vh;
  background: var(--primary-bg);
  border-bottom: 1px solid var(--border-color);
}

.title {
  font-size: 2.5vh;
  font-weight: 600;
  color: var(--scanner-dark);
  text-align: center;
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
}


/* components/LoadingScreen.module.css */
.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004953; /* Midnight Green */
  color: #C0C0C0; /* Silver */
  font-size: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #D3D3D3; /* Light Silver */
  border-top: 5px solid #C0C0C0; /* Silver */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text {
  margin-top: 20px;
  font-weight: bold;
}

